.homeContainer {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100vh;
}

.ComponentesLaterais {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.Conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBar {
  width: 70%;
  margin: 0 auto;
  background-color: transparent; /* Fundo transparente */
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 20px;
  font-family: "Nunito";
  color: #333;
}
